/* ALOHA */
div.page-container {
  margin-top: 50px;
}

#interbotix-vid,
#balance-vid,
#battery-vid,
#lid-vid,
#tape-vid,
#ziploc-vid,
#obs-vid,
#cup-vid {
  width: 100%;
}

/* SECTION 1 */
div.container1 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1.sec1-h1 {
  max-width: 750px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec1-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

div.sec1-name-con {
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION 2 */
div.container2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.img-container2 {
  display: flex;
}

.sec2-box2 {
  position: relative;
}

.sec2-box2-vid {
  position: relative;
}

.sec2-box2-content {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

h1.sec2-box2-h1 {
  color: white;
  font-weight: 400;
}

#learn-more-btn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #007cc4;
  color: #fff;
  cursor: pointer;
}

#learn-more-btn:hover {
  background: white;
  color: #007cc4;
}

.learn-more-btn-text {

}

/* SECTION 3 */
div.container3 {
  display: flex;
  max-width: 1400px;
  margin: 30px auto 30px auto;
}

div.sec3-box1 {
  max-width: 650px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 25px 0px 25px;
}

h1.sec3-h1 {
  text-align: center;
}

div.sec3-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

p.sec3-p {
  text-align: center;
}

div.sec3-box2 {
  padding: 0px 25px 0px 25px;
}

/* SECTION 4 */
div.container4 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

figure.teleoperated-con-img {
  max-width: 1400px;
}

img.teleoperated-img {
  width: 100%;
}

/* SECTION 5 */
div.container5 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.sec5-box1 {
  padding-bottom: 30px;
}

h1.sec5-h1 {
  max-width: 750px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec5-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

p.sec5-p {
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec5-box2 {
  display: flex;
  justify-content: center;
}

video.sec5-box2-vid1,
video.sec5-box2-vid2,
video.sec5-box2-vid3 {
  max-width: 450px;
}

/* SECTION 6 */
div.container6 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

figure.viperx-con-img {
  max-width: 1400px;
}

img.viperx-img {
  width: 100%;
}

/* SECTION 7 */
div.sec7-box1 {
  padding-bottom: 30px;
}

div.sec7-box2 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

div.sec7-box2-con1 {
  display: flex;
}

div.sec7-box2-con1, div.sec7-box2-con2, div.sec7-box2-con3 {
  width: 1400px;
  display: flex;
  justify-content: space-between;
}

video.sec7-box2-vid1, video.sec7-box2-vid2, video.sec7-box2-vid3 {
  max-width: 1000px;
}

/* SECTION 7 */
div.container7 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1.sec7-box1-h1 {
  max-width: 750px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec7-box1-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

p.sec7-box1-p {
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
