    /* BUNKER-PRO */
    div.bunker-pro-grey-box {
        margin: 0px 35px 20px 35px;
    }

    p.bunker-pro-prev-text {
        margin: 0px 35px 20px 35px;
        text-align: justify;
    }

    figure.bunker-pro-banner-home {
        margin: 0px 35px 0px 35px;
    }

    /* MOBILE */
    @media only screen and (max-width: 736px) {
        div.bunker-pro-grey-box {
            margin: 0px 0px 20px 0px;
        }

        p.bunker-pro-prev-text {
            margin: 0px 0px 20px 0px;
        }

        figure.bunker-pro-banner-home {
            margin: 0px 0px 0px 0px;
        }
    }


    /* BUNKER-PRO CUSTOM */
    div.bunker-pro-flex {
        display: flex;
        justify-content: center;
    }

    div.bunker-pro-box1 {
        width: 950px;
        padding: 40px 40px 40px 40px;
    }

    h1.bunker-pro-h1 {
        font-weight: bold;
        font-size: 31px;
        text-align: left;
        color: #1a272d;
    }

    p.bunker-pro-p {
        text-align: justify;
    }

    p.bunker-pro-p-1 {
        margin: 18px 0px 16px 35px;
    }

    p.bunker-pro-p-2 {
        margin: 18px 0px 16px 35px;
    }

    p.bunker-pro-p-3 {
        margin: 18px 0px 16px 35px;
    }

    div.bunker-pro-specs-1 {
        display: flex;
        margin-top: 20px;
    }

    div.bunker-pro-specs-2 {
        display: flex;
        margin-top: 20px;
    }

    div.bunker-pro-specs-3 {
        display: flex;
        margin-top: 20px;
    }

    div.bunker-pro-box2 {
        padding: 90px 50px 0px 0px;
        width: 900px;
    }

      div.container.p-20 {
        display: none;
    }

    /* RESPONSIVE */
    @media only screen and (max-width: 1199px) {
        div.bunker-pro-flex {
            flex-flow: wrap;
        }

        div.bunker-pro-box2 {
            padding: 0px;
            width: auto;
        }

        div.bunker-pro-flex2 {
            flex-flow: wrap;
        }

        div.bunker-pro2-box2, #box2, #box3 {
            padding: 0px;
            width: auto;
        }
    }

    /* TABLET */
    @media only screen and (max-width: 1024px) {
        div.bunker-pro-flex {
            flex-flow: wrap;
        }

        div.bunker-pro-box1 {
            padding: 20px 40px 0px 40px;
        }

        h1.bunker-pro-h1 {
            text-align: left;
            font-size: 50px;
            max-width: 100%;
        }

        p.bunker-pro-p {
            font-size: 15px;
            max-width: 100%;
            margin-bottom: 0px;
        }

        div.bunker-pro-box2 {
            padding: 0px 100px 0px 100px;
        }
    }

    /* MOBILE */
    @media only screen and (max-width: 736px) {
        div.bunker-pro-box1 {
            padding: 0px;
        }

        h1.bunker-pro-h1 {
            font-size: 8.3vw;
            text-align: left;
        }

        p.bunker-pro-p {
            font-size: 14px;
        }

        p.bunker-pro-p-1 {
            font-size: 13.5px;
        }

        p.bunker-pro-p-2 {
            font-size: 13.5px;
        }

        p.bunker-pro-p-3 {
            font-size: 13.5px;
        }

        div.bunker-pro-box2 {
            padding: 0px 0px 10px 0px;
        }

        figure.bunker-pro-img1 {
            padding-top: 20px;
        }
    }

    /* BUNKER-PRO PT2 */
    div.bunker-pro-flex2 {
        display: flex;
        justify-content: center;
    }

    div.bunker-pro2-box1 {
        width: 950px;
        padding: 40px 40px 40px 40px;
    }

    h1.bunker-pro2-h1 {
        font-weight: bold;
        font-size: 31px;
        text-align: left;
        color: #1a272d;
    }

    p.bunker-pro2-p {
        text-align: justify;
    }

    p.bunker-pro2-p-1 {
        margin: 18px 0px 16px 35px;
    }

    p.bunker-pro2-p-2 {
        margin: 18px 0px 16px 35px;
    }

    p.bunker-pro2-p-3 {
        margin: 18px 0px 16px 35px;
    }

    div.bunker-pro2-specs-1 {
        display: flex;
        margin-top: 20px;
    }

    div.bunker-pro2-specs-2 {
        display: flex;
        margin-top: 20px;
    }

    div.bunker-pro2-specs-3 {
        display: flex;
        margin-top: 20px;
    }

    div.bunker-pro2-box2 {
        padding: 90px 50px 0px 0px;
        width: 900px;
    }

    video#example_video_1, video#example_video_2, video#example_video_3 {
        max-width: 640px;
        max-height: 360px;
        width: 100%;
    }

    /* TABLET */
    @media only screen and (max-width: 1024px) {
        div.bunker-pro2-flex2 {
            flex-flow: wrap;
        }

        div.bunker-pro2-box1 {
            padding: 20px 40px 0px 40px;
        }

        h1.bunker-pro2-h1 {
            text-align: left;
            font-size: 50px;
            max-width: 100%;
        }

        p.bunker-pro2-p {
            font-size: 15px;
            max-width: 100%;
            margin-bottom: 0px;
        }

        /* div.bunker-pro2-box2 {
            padding: 0px 100px 0px 100px;
        } */
    }

    /* MOBILE */
    @media only screen and (max-width: 736px) {
        div.bunker-pro2-box1 {
            padding: 0px;
        }

        h1.bunker-pro2-h1 {
            font-size: 8.3vw;
            text-align: left;
        }

        p.bunker-pro2-p {
            font-size: 14px;
        }

        p.bunker-pro2-p-1 {
            font-size: 13.5px;
        }

        p.bunker-pro2-p-2 {
            font-size: 13.5px;
        }

        p.bunker-pro2-p-3 {
            font-size: 13.5px;
        }

        /* div.bunker-pro2-box2 {
            padding: 0px 0px 10px 0px;
        } */

        figure.bunker-pro2-img1 {
            padding-top: 20px;
        }
    }