/* ALOHA */
div.page-container {
  margin-top: 50px;
}

#interbotix-vid,
#balance-vid,
#battery-vid,
#lid-vid,
#tape-vid,
#ziploc-vid,
#obs-vid,
#cup-vid,
.university-img {
  width: 100%;
}

p {
  font-size: 1.6rem;
}

a {
  color: #007cc4;
}

a:hover {
  text-decoration: none;
  transition-duration: 0.5s;
  color: black;
}

/* SECTION 1 */
div.container1 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1.sec1-h1 {
  max-width: 750px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec1-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

div.sec1-name-con {
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* TABLET */
@media only screen and (max-width: 1024px) {
  /*Revise later, doesnt want to apply */
  div.xseries-flex-container10 {
    padding: 40px 0px 40px 0px;
    }
  }

/* MOBILE */
@media only screen and (max-width: 736px) {
  div.xseries-flex-container10 {
      padding: 15px 0px 50px 0px;
  }
}

/* SECTION 2 */
div.container2 {
  margin-top: 80px;
  margin-bottom: 30px;
}

div.sec2-box1 {
  margin-left: 50px;
  margin-right: 50px;
}

h1.sec2-h1 {
  max-width: 1400px;
  margin: 30px auto 30px auto;
  font-weight: 400;
  font-size: 2vw;
}

div.img-container2 {
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

figure.stanford-con-img,
figure.berkeley-con-img,
figure.meta-con-img {
  margin-top: auto;
  margin-bottom: auto;
}

img.stanford-img,
img.berkeley-img,
img.meta-img {
  width: 800px;
}

div.sec2-box2 {
  position: relative;
}

video.sec2-box2-vid {
  position: relative;
}

div.sec2-box2-content {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px 20px 60px 70px;
}

h1.sec2-box2-h1 {
  color: white;
  font-weight: 400;
  font-size: 28px;
}

#learn-more-btn {
  width: 165px;
  font-size: 16px;
  padding: 15px 10px;
  border: none;
  background: #007cc4;
  color: #fff;
  cursor: pointer;
}

#learn-more-btn:hover {
  /* background: white;
  color: #007cc4; */
  transform: scale(1.1);
  transform: scale(1.05, 1.07);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  -moz-transform: scale(1.05, 1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}

/* SECTION 3 */
div.container3 {
  display: flex;
  justify-content: center;
  max-width: 73vw;
  margin: 30px auto 30px auto;
}

div.sec3-box1 {
  max-width: 650px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 25px 0px 25px;
}

h1.sec3-h1 {
  text-align: center;
  font-weight: 400;
  font-size: 2.3vw;
}

div.sec3-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

p.sec3-p {
  font-size: 0.95vw;
  text-align: justify;
}

div.sec3-box2 {
  padding: 0px 25px 0px 25px;
}

/* SECTION 4 */
div.container4 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

figure.teleoperated-con-img {
  max-width: 73vw;
}

img.teleoperated-img {
  width: 100%;
}

/* SECTION 5 */
div.container5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.sec5-box1 {
  padding-bottom: 30px;
}

h1.sec5-h1 {
  max-width: 750px;
  font-size: 2.6vw;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec5-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

p.sec5-p {
  font-size: 0.95vw;
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec5-box2 {
  display: flex;
  justify-content: center;
}

video.sec5-box2-vid1,
video.sec5-box2-vid2,
video.sec5-box2-vid3 {
  max-width: 24vw;
  padding-left: 10px;
  padding-right: 10px;
}

/* SECTION 6 */
div.container6 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

figure.viperx-con-img {
  max-width: 73vw;
}

img.viperx-img {
  width: 100%;
}

/* SECTION 7 */
div.container7 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.sec7-box1 {
  padding-bottom: 30px;
}

h1.sec7-box1-h1 {
  max-width: 750px;
  font-size: 2.6vw;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec7-box1-line {
  width: 280px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

p.sec7-box1-p {
  font-size: 0.95vw;
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.sec7-box2-con1,
div.sec7-box2-con2,
div.sec7-box2-con3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 77vw;

}

h1.sec7-box2-h1 {
  font-size: 1.95vw;
  text-align: center;
  margin: auto 30px auto 0px;
}

div.sec7-box2-line {
  width: 120px;
  height: 2px;
  background: #1a272d;
  margin: 15px auto 15px auto;
}

video.sec7-box2-vid1,
video.sec7-box2-vid2,
video.sec7-box2-vid3 {
  max-width: 52vw;
  margin: 0px 0px 0px 80px;
}

/* TABLET */
@media only screen and (max-width: 1350px) {
  /*Revise later, doesnt want to apply */
  div.xseries-flex-container10 {
    padding: 40px 0px 40px 0px;
    }
  }

/* SECTION 8 */
div.container8 {
  margin-top: 30px;
}

div.sec8-box1 {
  position: relative;
}

figure.university-con-img {
  min-height: 45vh;
  position: relative;
  background-image: url("/Shared/XSeries/ALOHA/labfeature.webp");
  background-size: cover;
}

div.sec8-box1-content {
  position: absolute;
  bottom: 20%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h1.sec8-box1-h1 {
  color: white;
  font-weight: 400;
  font-size: 3.5vw;
  margin-bottom: 45px;
}

#quote-btn {
  width: 165px;
  font-size: 14px;
  padding: 15px 10px;
  border: none;
  background: #007cc4;
  color: #fff;
  cursor: pointer;
}

#quote-btn:hover {
  /* background: white;
  color: #007cc4; */
  transform: scale(1.05, 1.07);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  -moz-transform: scale(1.05, 1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}